* {
    font-family: Helvetica;
}

#banner {
    font-size: max(50px, 5vw);
    color: khaki;
    text-align: center;
    background-image: url(./pattern.jpeg);
}

h2 {
    font-size: 32px;
    color: white;
}

.bold {
    font-weight: bold;
}

a {
    color: hsl(240, 100%, 50%);
    text-decoration: none;
}

a:hover {
    background-color: hsl(200, 70%, 70%);
    color: hsl(240, 100%, 30%);
}

.brush {
    background-color: mediumspringgreen;
}

.frame {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.product {
    text-align: center;
}
